---
title: Über uns
description: Hinter den Softwerken Magdeburg stecken viele engagierte Menschen.
image: https://source.unsplash.com/BcoGknSqlDc/2000x1322?a=.png
layout: page
hero:
  title: Über uns
  description: Das sind die Menschen hinter den Softwerken Magdeburg.
---

<section class="pad">
	<div class="container">
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<a target="_blank" href="{{ person.link }}">
						<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
						<div class="name">{{ person.name }}</div>
					</a>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
