---
title: Kontakt
description: Kontaktiere uns für Projektanfragen, Feedback und für Fragen aller Art!
layout: page
image: false
hero:
  title: Kontakt
  description: Kontaktiere uns für Projektanfragen, Feedback und für Fragen aller Art!

---

<section class="pad">
	<div class="text-container contact-box">
		<!--<form action="{{ site.baseurl }}/contact-success/" method="post" class="contact-form">
			<input type="hidden" name="_to" value="support@cloudcannon.com">
			<input type="text" name="_gotcha" style="display: none;">

			<label for="name">Name</label>
			<input type="text" name="name" id="name" placeholder="Enter your name...">

			<label for="email">Email Address</label>
			<input type="email" name="email" id="email" placeholder="Enter your email..." required>

			<label for="message">Message</label>
			<textarea name="message" id="message" placeholder="Enter your message..."></textarea>

			<input type="submit" value="Send Message">
		</form>-->

		<div class="contact-details">
			<h3>E-Mail</h3>
			<p><a encoded-mlink="a29udGFrdEBzb2Z0d2Vya2UubWQ="><noscript>For spam protection reasons, JavaScript is required to see email addresses.</noscript></a></p>
			
			<h3>Anschrift</h3>
			<address>
			Softwerke Magdeburg e.V.<br>
			Stendaler Str. 4<br>
			39326 Loitsche
			</address>
		</div>
		<script>
          [...document.querySelectorAll("[encoded-mlink]")].forEach(el => {
            const email = atob(el.getAttribute("encoded-mlink"));
            el.setAttribute("href", "mailto:" + email);
            el.textContent = email;
          });
		</script>
	</div>
</section>
