---
title: Home
description: |
  Freie Softwareangebote als Verein - Soziale Netzwerke, (Gruppen-)Chats,
  Online-Speicherplatz und vieles mehr: wir geben dir die Freiheit,
  selbst zu bestimmen, was mit deinen Daten passiert, und das so
  einfach wie möglich!
image: /images/header.jpg
---

<section class="hero" style="background-position: 31% 0%; background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>Softwerke Magdeburg</h1>
			<p class="subtext editable">
				Freie Softwareangebote als Verein - Soziale Netzwerke, (Gruppen-)Chats,
				Online-Speicherplatz und vieles mehr: wir geben dir die Freiheit,
				selbst zu bestimmen, was mit deinen Daten passiert, und das so
				einfach wie möglich!</p>
			<div class="cta button alt"><a href="/blog/">Mehr Infos</a></div>
		</div>
	</div>
</section>

<div class="content">
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2>Unsere Mission</h2>
				<p>
					Wir verfolgen die Gründung eines Vereins, um für Magdeburg und die Region freie digitale Dienste anbieten zu können.<br />
					Wir möchten einen Ort für alle Menschen bieten, an dem sie sich nicht mehr als Produkt einer werbefinanzierten Industrie sehen müssen.
					Jeder Mensch soll eigenständig entscheiden können, was mit den eigenen Daten passiert.
				</p>
			</div>
		</div>
	</section>
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2>Unsere Werte</h2>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<h3>Bildung</h3>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<p>
					Es ist uns wichtig, grundlegendes Wissen über die Funktionsweise und die Bedienung des Internets und digitaler Kommunikation zu vermitteln.
					Nur so kann ein angemessener Umgang mit dem Internet und anderen Menschen online und offline stattfinden.
					Wir wollen zeigen, wie die von uns angebotenen Dienste funktionieren, also wie sie bedient werden und welche nicht direkt sichtbaren Prozesse vom Computer durchgeführt werden.
				</p>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<h3>Chancengleichheit</h3>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<p>
					Wir stehen für Chancengleichheit, das bedeutet, dass alle Menschen bei uns die gleichen Möglichkeiten bekommen - im Verein und bei unseren angebotenen Diensten.
					Grundsätzlich wollen wir darum unser Angebot nicht auf eine bestimmte Zielgruppe (beispielsweise technisch versierte Menschen), sondern für alle Menschen öffnen.
				</p>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<h3>Dezentralität</h3>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<p>
					Wir wollen mit unserem Verein Alternativen zu den großen Konzernen des Internets bieten.
					Wir achten darauf, dass unsere Infrastruktur sowohl zur logischen, als auch zur physischen Dezentralität des Internets beiträgt.
					Wo immer es uns möglich ist, setzen wir föderale Dienste ein, um keine Insellösungen zu schaffen, sondern um zur Vernetztheit und Ausfallresistenz des Internets als Ganzes beizutragen.
				</p>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<h3>Freie Software</h3>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<p>
					Wir unterstützen freie bzw. offene Software mit frei verfügbarem Quellcode, wo immer dies möglich ist.
					Proprietäre Software wird von uns nur in Ausnahmefällen genutzt, wobei wiederum Software mit frei verfügbarem Quellcode bevorzugt wird.
				</p>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<h3>Gewaltfreiheit</h3>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<p>
					Wir möchten mit unseren Diensten so viele unterschiedliche Menschen wie möglich erreichen.
					Um einen angenehmen Ort für jede Person bieten zu können, setzen wir uns aktiv für die Gewaltfreiheit unserer Angebote ein.
					Gewalt - egal welcher Ausprägung - wird von uns nicht toleriert. Die Freiheit jeder einzelnen Person, die unsere Angebote nutzt, endet dort, wo die Freiheit einer anderen Person beginnt.
				</p>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<h3>Inklusion</h3>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<p>
					Inklusion bedeutet, andere Menschen mitzudenken.
					Für uns heißt das, unsere Dienste, Webseiten und Plattformen für alle Menschen zugänglich zu machen.
					Ob jemand unsere Website versteht, soll nicht davon abhängig gemacht werden, ob die Person die gleiche Sprache beherrscht, die Zeichen erkennen kann, oder perfekt lesen kann.
				</p>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<h3>Nachhaltigkeit</h3>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<p>
					Wir setzen uns für Nachhaltigkeit in allen Bereichen des Vereinslebens ein.
					Bei jeder Entscheidung, die wir treffen, achten wir darauf, dass diese Entscheidung unter allen Gesichtspunkten der Nachhaltigkeit getroffen wird.
				</p>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<h3>Privatsphäre</h3>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<p>
					Um die Privatsphäre der Menschen auf unserer Plattform und im Verein wahren zu können, setzen wir auf Datensparsamkeit im engeren Sinne:
					Es werden nur die Daten gesammelt, die zum Angebot der Dienste oder aus rechtlichen Gründen erforderlich sind.
					Um die entsprechende Transparenz zu wahren, müssen wir die Verarbeitung von Daten offen kommunizieren.
				</p>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<h3>Verantwortung</h3>
			</div>
		</div>
		<div class="container flex">
			<div class="text">
				<p>
					Wir sind uns unserer Verantwortung gegenüber Menschen, die unsere Dienste nutzen, außenstehenden Menschen, der Umwelt und zuletzt auch uns, bewusst.
					Handeln hat immer Konsequenzen und das soll nicht zum Nachteil anderer Menschen oder der Natur sein.
					Bei Problemen kommunizieren wir diese offen und transparent.
					Die Sicherheit der Daten, der Dienste und der Menschen die sie nutzen, sowie die Privatsphäre der aller Menschen hat oberste Priorität.
				</p>
			</div>
		</div>
	</section>
	<section class="info">
		<div class="container">
			<div class="text">
				<h2>Newsletter</h2>
			</div>
		</div>
		<div class="container">
			{% include newsletter-form.html %}
		</div>
	</section>
</div>
