<form method="post" action="https://newsletter.softwerke.md/subscription/form" class="listmonk-form">
    <div>
        <label for="email">E-Mail Adresse:</label>
        <input type="text" name="email" id="email" placeholder="E-mail" required/>

        <label for="name">Dein Name (optional):</label>
        <input type="text" name="name" id="name" placeholder="Name (optional)" />

        <input type="hidden" name="l" value="542217d8-5059-4fe9-a9d2-0d058d725540" />
        <p><input type="submit" value="Newsletter abonnieren" /></p>
    </div>
</form>