.button a, input[type=submit] {
	color: var(--color-primary);
	text-decoration: none;
	border: 2px solid var(--color-primary);
	border-radius: 2px;
	transition: .2s ease-in-out;
	display: inline-block;
	padding: 16px 50px;
	background: var(--color-surface);
}

.button a:hover, input[type=submit]:hover {
	background: var(--color-primary);
	color: var(--color-on-primary);
	cursor: pointer;
}

.button.alt a {
	background: rgba(255,255,255,0);
	border: 2px solid var(--color-on-hero);
	color: var(--color-on-hero);
}

.button.alt a:hover {
	background: var(--color-on-hero);
	color: var(--color-primary);
	text-shadow: none;
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

input[type=submit] {
	margin: 20px 0 0 0;
}

label, input, textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: 2px;
}

textarea {
	resize: vertical;
	height: 150px;
}

label {
	margin: 20px 0 5px 0;
}

input, textarea {
	padding: 10px;
	font-size: 1em;
}

input, textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid var(--color-surface-border);
	background: var(--color-surface-medium);
	color: var(--color-on-surface-400);
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}
