.hero {
	color: var(--color-on-hero);
	text-align: center;

	display: flex;
	align-items: center;
	justify-items: center;
	padding-top: 90px;
	padding-bottom: 60px;
	min-height: 60vh;

	background-color: var(--color-hero);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:not(.no-image):before {
		content: "";
		background: linear-gradient(to bottom,rgba(0,0,0,.3) 0,rgba(0, 0, 0, 0) 100%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 300px;
	}

	p {
		color: #fff;
	}

	.hero-text-container {
		text-align: left;

		h1, h2, p, .button {
			text-shadow: 1px 1px 1px rgba(0,0,0,.8);
		}
	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}

	&.no-image {
		color: var(--color-on-surface-500);
		background-color: var(--color-surface);
		padding-top: 20vh;
		height: 25vh;
		min-height: 200px;

		.hero-text-container {
			h1, h2, p, .button {
				text-shadow: none;
			}
		}

		p {
			color: inherit;
		}
	}
}

.image {
	text-align: center;

	img {
		border-radius: 2px;
	}
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
