---
layout: default
---

{% if page.image %}
<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
{% else %}
<section class="hero no-image">
{% endif %}
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>
				{% if page.hero and page.hero.title %}
					{{page.hero.title}}
				{% else %}
					{{ page.title }}
				{% endif %}
			</h1>
			<p class="subtext">
				{% if page.hero and page.hero.description %}
					{{page.hero.description}}
				{% else %}
					{{ page.description }}
				{% endif %}
			</p>
		</div>
	</div>
</section>

{{ content }}
